---
title: CUI Steering Committee
description: >
  The ACM Conversational User Interfaces Steering Committee are responsibile for the overall organisation of the CUI conference and workshop series.

layout: default

redirect_from:
  - /about/
  - /about/constitution/
  - /about/members/
  - /about/sc/
  - /contact/
  - /sc/members/
  - /sc/committee/
  - /sc/constitution/
  - /sc/elections/
  - /sc/nominate-for-sc/
  - /steering-committee/

menus:
  main:
    title: Steering Committee
    weight: 1
---
<section>
  <article class="flex-grow-1 p-md-4 p-3">
    <h2 class="fw-semibold mb-2 m-0 p-0">{{ page.title | escape }}</h2>
    <p>
      The ACM Conversational User Interfaces Steering Committee is responsibile for the overall organisation of the annual ACM CUI conference and workshop series.
    </p>
    <p>
     If you have any questions, please reach out to the Steering Committee Co-Chairs by emailing <a href="mailto:contact@cui.acm.org" title="Email the CUI Steering Committee Co-Chairs">contact@cui.acm.org</a>. 
    </p>
  </article>
  {%- if site.data.sc.nominations -%}
  <article class="flex-grow-1 p-md-4 p-3 grab">
    <h3 id="nominations" class="fw-semibold mb-2 m-0 p-0">Call for nominations to service on the Steering Committee</h3>
      <p>
        The Conversational User Interfaces (CUI) Steering Committee invites nominations to serve as a member of the CUI Steering Committee. In particular we are looking for candidates to nominate themselves or a colleague for the following roles. Following the nomination deadline, an election to the CUI Steering Committee will be called. Subscribe to <a href="https://listserv.acm.org/SCRIPTS/WA-ACMLPX.CGI?A0=CUI-ANNOUNCEMENTS&X=DA00202F15E5DE0C2A">CUI Announcements</a> to be informed and open to voting in the election.
      </p>
      <ul class="list-unstyled mx-lg-4 mx-3" id="elections">
        {%- for role in site.data.sc.nominations -%}
          <li class="mb-3">
            <h4 class="fw-medium election-role d-flex flex-row" type="button" data-bs-toggle="collapse" data-bs-target="#nomination-{{ forloop.index0 }}" aria-expanded="false" aria-controls="election-{{ forloop.index0 }}">
              <i class="bi bi-chevron-compact-right me-1"></i><span>Nominations for {{ role.title }} (<em>{{ role.term }}</em>)</span>
            </h4>
            <div id="nomination-{{ forloop.index0 }}" class="collapse">
              <p>{{ role.overview }}</p>
              <h5 class="fw-semibold m-0">Key responsibilities</h5>
              {%- for responsibility in role.responsibilities -%}
                <h6 class="mt-3 m-0">{{ responsibility.title }}</h6>
                <ul class="mb-3">
                  {%- for task in responsibility.tasks -%}
                    <li>{{ task }}</li>
                  {%- endfor -%}
                </ul>
              {%- endfor -%}
            </div>
          </li>
        {%- endfor -%}
      </ul>
      <p>
        To be eligible to be nominated you must be a member of SIGCHI. Please submit nominations, for yourself or another, by {% include date.html date=site.data.sc.nominations_settings.deadline -%}, Anywhere on Earth (AoE) through <a href="{{ site.data.sc.nominations_settings.link }}" title="Nomination form for the CUI Steering Committee">this application form</a>.
      </p>
      <p>
        If you would like any further details about the nominations or elections process, or any of the roles, email <a href="mailto:{{ site.data.sc.nominations_settings.contact.email }}">{{ site.data.sc.nominations_settings.contact.name }}</a>.
      </p>
    </article>
    {%- endif -%}
    {%- if site.data.sc.elections -%}
      <article class="flex-grow-1 p-md-4 p-3">
        <h3 id="elections" class="fw-semibold mb-2 m-0 p-0">Election of Officers to Steering Committee</h3>
        <p>The following elections to Office are ongoing. Once nominations are closed, nominees will be informed as to the following steps in the election process. All members of the <a href="https://listserv.acm.org/SCRIPTS/WA-ACMLPX.CGI?A0=CUI-ANNOUNCEMENTS&X=DA00202F15E5DE0C2A">CUI Announcements</a> mailing list have been emailed instructions on how to vote.</p>
        <ul class="list-unstyled mx-lg-4 mx-3" id="elections">
          {%- for role in site.data.sc.elections -%}
            <li class="mb-3">
              <h4 class="fw-medium election-role d-flex flex-row" type="button" data-bs-toggle="collapse" data-bs-target="#election-{{ forloop.index0 }}" aria-expanded="false" aria-controls="election-{{ forloop.index0 }}">
                <i class="bi bi-chevron-compact-right me-1"></i><span>Election to {{ role.title }} (<em>{{ role.term }}</em>)</span>
              </h4>
              <div id="election-{{ forloop.index0 }}" class="collapse">
                <ul>
                  {%- for person in role.nominations %}
                    <li class="pt-2">
                      <h5>{{ person.name }}</h5>
                      <p>{{ person.bio }}</p>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </li>
          {%- endfor -%}
        </ul>
      </article>
    {%- endif -%}
  <article id="constitution" class="flex-grow-1 p-md-4 p-3">
    <h3 class="fw-semibold mb-2 m-0 p-0">Constitution</h3>
    <p>
      The constitution for the ACM Conversational User Interfaces conference sets out the organisation and procedures that govern the conference and workshop series, as well as the overarching series steeering committee.
    </p>
    <p>
      <a href="{{ site.data.const.file | relative_url }}" class="btn btn-primary text-white me-3 shadow-sm">
        <i class="bi bi-file-earmark-arrow-down-fill me-2"></i>
        Download the latest constitution
      </a>
      <span class="text-secondary small d-xl-inline-block mt-xl-0 d-block mt-3">
        Last updated and approved: {% include date.html date=site.data.const.date -%}
      </span>
    </p>
  </article>
  <article id="membership" class="flex-grow-1 p-md-4 p-3">
    <h3 class="fw-semibold mb-2 m-0 p-0">Membership</h3>
    <p>
      The following people are the current <em>Officers</em> and <em>Members</em> of the steering committee. Officers are elected by the community and undertake a specific role on the committee, while members are invited to serve on the committee on the basis of their expertise and community participation.
    </p>
    <ul class="list-unstyled d-flex flex-row flex-wrap align-items-stretch m-0 p-0 sc-list">
      {%- assign num_members = site.data.oc.members | size -%}
      {%- if num_members > 0 %}
        {%- assign membership = site.data.sc.officers | concat: site.data.sc.members -%}
      {%- else -%}
        {%- assign membership = site.data.sc.officers -%}
      {%- endif -%}
      {%- for member in membership -%}
        <li class="mx-0 m-2 px-2 py-0 sc-person">
          <div class="d-flex flex-row align-items-center rounded-pill shadow-sm h-100 p-3">
            <div>
              <img src="{{ "assets/img/sc/" | append: member.photo | relative_url }}" class="profile-photo rounded-circle" alt="A photo of {{ member.name }}" title="{{ member.name }}" style="width: 60px">
            </div>
            <div class="ms-3">
              {%- if member.url -%}
                <span class="mt-0 mb-1 fw-semibold"><a href="{{ member.url }}" title="Go to {{ member.name }}'s website" target="_blank" class="text-decoration-none"><span class="text-decoration-underline">{{ member.name }}</span> <i class="bi bi-box-arrow-up-right"></i></a></span>
              {%- else -%}
                <span class="mt-0 mb-1 fw-semibold">{{ member.name }}</span>
              {%- endif -%}
              <ul class="list-unstyled">
                {%- for role in member.roles -%}
                  <li>
                    <span class="fw-medium small me-md-1 me-0">{{- role["role"] -}}</span><span class="d-md-inline-block d-block small text-nowrap">({{- role["term"] -}})</span>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </article>
</section>
{%- include sidebar.html -%}