---
title: Statistics
description: Programme and attendance statistics from past CUI conferences.

lastmod: page

menus:
  conferences:
    title: Statistics
    weight: 2
---

<p>Below are summary registration and programme statistics for each <a href="{{ "/conferences/" | relative_url }}" title="All CUI conferences">annual CUI conference</a>.</p>

<h3 class="mt-5 mb-4">Registration<sup>*</sup> statistics</h3>

{%- assign footnote_symbols = "**,***,†,††,‡‡" | split: ',' -%}
{%- assign footnote_index = 0 -%}

{%- for table in (0..num_tables_loop) -%}
	{%- assign start_years_at = max_years_per_table | times: table -%}
	{%- assign end_years_at = start_years_at | plus: max_years_per_table -%}
	{%- if end_years_at > num_years -%}
		{%- assign end_years_at = num_years -%}
	{%- endif -%}
	{%- assign num_years_this_table = end_years_at | minus: start_years_at | round -%}
	{%- assign start_year = site.data.statistics.years[start_years_at] -%}
	{%- assign end_years_at_minus_one = end_years_at | minus: 1 -%}
	{%- assign end_year = site.data.statistics.years[end_years_at_minus_one] -%}
	<table class="w-100 mb-2 text-center">
		<thead>
			<tr class="fw-bold">
				<td rowspan="2">Conference</td>
				<td colspan="3">Registrations</td>
			</tr>
			<tr>
				<td>Total</td>
				<td>Virtual</td>
				<td>In-person</td>
			</tr>
		</thead>
		<tbody>
			{%- for year in site.data.statistics.years offset:start_years_at limit:max_years_per_table  -%}
				{%- if site.data.statistics.attendance[year]["total"] -%}
					<tr class="border-top">
						<td>CUI {{ year }}{% if site.data.statistics.attendance[year]["footnote"] %}<sup>{{ footnote_symbols[footnote_index] }}</sup>{% assign footnote_index = footnote_index | plus: 1 %}{% endif %}</td>
						<td>{{ site.data.statistics.attendance[year]["total"] }}</td>
						<td>{{ site.data.statistics.attendance[year]["virtual"] }}</td>
						<td>{{ site.data.statistics.attendance[year]["total"] | minus: site.data.statistics.attendance[year]["virtual"] }}</td>
					</tr>
				{%- endif -%}
			{%- endfor -%}
		</tbody>
	</table>
{%- endfor -%}

<small>
	<div class="d-flex flex-row">
		<p class="flex-grow-0 me-1 m-0 text-end" style="width: 1.5rem">*</p> 
		<p>
			We record <em>registrations</em> and not attendance as attendance can be difficult to accurately count. Registrations do typically include "comped" registrations—such as those for given to student volunteers and keynotes—as well as registrations in return for sponsorship of the conference.
		</p>
	</div>
	{%- assign footnote_index = 0 -%}
	{%- for year in site.data.statistics.years offset:start_years_at limit:max_years_per_table  -%}
		{% if site.data.statistics.attendance[year]["footnote"] %}
			<div class="d-flex flex-row">
				<p class="flex-grow-0 me-1 m-0 text-end" style="width: 1rem">{{ footnote_symbols[footnote_index] }}</p> 
				<p>
					{{ site.data.statistics.attendance[year]["footnote"] }}
				</p>
				{%- assign footnote_index = footnote_index | plus: 1 -%}
			</div>
		{% endif %}
	{%- endfor -%}
</small>


<h3 class="mt-5 mb-4">Programme statistics</h3>

{%- assign max_years_per_table = 3.0 -%}
{%- assign num_years = site.data.statistics.years | size -%}
{%- assign num_tables = num_years | divided_by: max_years_per_table | ceil -%}
{%- assign num_tables_loop = num_tables | minus: 1 -%}

{%- for table in (0..num_tables_loop) -%}
	{%- assign start_years_at = max_years_per_table | times: table -%}
	{%- assign end_years_at = start_years_at | plus: max_years_per_table -%}
	{%- if end_years_at > num_years -%}
		{%- assign end_years_at = num_years -%}
	{%- endif -%}
	{%- assign num_years_this_table = end_years_at | minus: start_years_at | round -%}
	{%- assign start_year = site.data.statistics.years[start_years_at] -%}
	{%- assign end_years_at_minus_one = end_years_at | minus: 1 -%}
	{%- assign end_year = site.data.statistics.years[end_years_at_minus_one] -%}
	<table class="w-100 mb-2 text-center">
		<thead>
			<tr class="fw-bold">
				<td rowspan="2">Track</td>
				<td colspan="{{ num_years_this_table }}">Acceptances / Submissions<br><small>(Acceptance Rate)</small></td>
			</tr>
			<tr>
				{%- for year in site.data.statistics.years offset:start_years_at limit:max_years_per_table  -%}
					<td>{{ year }}</td>
				{%- endfor -%}
			</tr>
		</thead>
		<tbody>
			{%- for track in site.data.statistics.tracks -%}
				<tr class="border-top">
					<td>{{ track["title"] }}</td>
					{%- for year in site.data.statistics.years offset:start_years_at limit:max_years_per_table  -%}
						{%- if track["data"][year]["submissions"] -%}
							<td>
								{%- assign submissions_float = track["data"][year]["submissions"] | times: 1.0 -%}
								{{ track["data"][year]["acceptances"] }} / {{ track["data"][year]["submissions"] }}<br>
								<small class="text-muted">({{ track["data"][year]["acceptances"] | divided_by: submissions_float | times: 100 | round: 1 }}%)</small>
							</td>
						{%- else -%}
							<td></td>
						{% endif -%}
					{%- endfor -%}
				</tr>
			{%- endfor -%}
		</tbody>
	</table>
{%- endfor -%}