{%- assign last_modified_str = false -%}
{%- assign last_modified_intro = false -%}
{%- assign last_modified = false -%}

{%- if page.lastmod == 'page' -%}

    {% capture last_modified_str %}{{ page.last_modified_at | date_to_long_string: "ordinal" }}{% endcapture %}

{%- elsif page.lastmod.type == 'data' -%}

	{%- capture dataunix %}{{ page.lastmod.file | data_file_last_mod: '%s' }}{% endcapture -%}
	{%- capture pageunix %}{{ page.last_modified_at | date: '%s' }}{% endcapture -%}
						
	{%- if pageunix > dataunix -%}
	aaa
		{% capture last_modified_str %}{{ page.last_modified_at | date_to_long_string: "ordinal" }}{% endcapture %}
	{%- else -%}
	&nbsp;{{ pageunix }} - {{ page.last_modified_at}} - {{ page.last_modified_at | date_to_long_string: "ordinal" }} - 
	{{ dataunix }} - {{ page.lastmod.file | data_file_last_mod: "%-d %B %Y" }}
		{%- capture timestamp_date -%}{{ page.lastmod.file | data_file_last_mod: "%-d" }}{%- endcapture -%}
		{%- capture timestamp_rest -%}{{ page.lastmod.file | data_file_last_mod: "%B %Y" }}{%- endcapture -%}
	
		{%- if timestamp_date == "1" or timestamp_date == "21" or timestamp_date == "31" -%}
			{%- assign suffix = "st" -%}
		{%- elsif timestamp_date == "2" or timestamp_date == "22" -%}
			{%- assign suffix = "nd" -%}
		{%- elsif timestamp_date == "3" or date == "23" -%}
			{%- assign suffix = "rd" -%}
		{%- else -%}
			{%- assign suffix = "th" -%}
		{%- endif -%}
	
		{%- capture last_modified_str -%}{{ timestamp_date }}{{ suffix }} {{ timestamp_rest }}{%- endcapture -%}
    {%- endif -%}

{%- endif -%}

{%- if last_modified_str != false -%}
    &nbsp;&bull;&nbsp;Last modified on {{ last_modified_str }}<br>
{%- endif -%}