
// OVERRIDES
$blue                      : #2B48A9;
$purple                    : #A92B7A;
$red                       : #C73D4D;

$colors                    : (
  "blue"                   : $blue,
  "indigo"                 : $indigo,
  "purple"                 : $purple,
  "pink"                   : $pink,
  "red"                    : $red,
  "orange"                 : $orange,
  "yellow"                 : $yellow,
  "green"                  : $green,
  "teal"                   : $teal,
  "cyan"                   : $cyan,
  "white"                  : $white,
  "gray"                   : $gray-600,
  "gray-dark"              : $gray-800
);

$primary                   : $red;
$danger                    : $red;

$link-color                : $red;
$link-hover-color          : shift-color($link-color, $link-shade-percentage);

$nav-link-color            : $link-color;
$nav-link-hover-color      : $link-hover-color;

$code-color                : #D9D90F;


// GLOBAL
$body-bg                   : #EEEEEE;
$body-fg                   : $black;


// HEADER
$banner-bg                 : $body-bg;
$title-bg                  : url(../img/banner.png);


// NAVIGATION
$toggler-active-bg         : #f4f4f4;
$toggler-active-shadow     : 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
$toggler-icon              : $navbar-light-toggler-icon-bg;

$nav-item-b                : none;
$nav-item-active-bg        : $gray-100;
$nav-item-active-b         : none;
$nav-item-active-py        : 0px;

$mobile-nav-item-b         : $nav-item-b;
$mobile-nav-item-active-b  : $nav-item-active-b;
$mobile-nav-item-active-bg : $nav-item-active-bg;

$nav-dd-img                : url('data:image/svg+xml,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="#{$nav-link-color}" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>');


// MAIN
$main-bg                   : #FFFFFF;


// WORKSHOPS
$timetable-color           : $gray-200;
$timetable-w               : .25rem;
$timetable-b-s             : $timetable-w solid $timetable-color;
$timeline-notch-w          : 1.5rem;
$timeline-label-fg         : $gray-600;
