// GLOBAL

a, a:active, a:visited, a:hover {
	color: $link-color-dark;
}

.text-muted, .text-secondary {
	color: $text-muted-dark !important;
}

.text-black {
	color: white !important;
}

button.btn-primary {
	color: white !important;
}


// LAYOUT
html, body {
	background: $body-bg-dark;
}
body {
  & > div {
	background: $body-bg-dark;
	background: $body-bg-gradient-dark;
	background-attachment: fixed;
	color: $body-color-dark;

    & > div {
		background: $content-bg-dark;

      & > div {
        background-image:
          repeating-linear-gradient(0deg, rgba(#111, 0), rgba(#111, 0) 5px, rgba(#111, 0.05) 5px, rgba(#111, 0.05) 6px),
          repeating-linear-gradient(90deg, rgba(#111, 0), rgba(#111, 0) 5px, rgba(#111, 0.05) 5px, rgba(#111, 0.05) 6px);
      }
    }
  }
}



// HEADER
header {
	img {
	}
}



// NAVIGATION
nav.navbar {
	background: $nav-bg-dark;
	margin-top: $content-border-width;
	margin-bottom: $content-border-width;

	.nav-item {
		box-shadow: none;

		& > div {
			-webkit-backdrop-filter: none;
			backdrop-filter: none;
		}

		&.active > div, &:active > div, &:hover > div, &:focus > div {
			-webkit-backdrop-filter: $nav-link-glass-backdrop-filter-dark;
			backdrop-filter: $nav-link-glass-backdrop-filter-dark;
		}

		.nav-link {
			color: $nav-link-color-dark;
		}
		
		&:active .nav-link, &:hover .nav-link, &:focus .nav-link {
			color: $nav-link-active-color-dark;
			background: $nav-link-bg-dark;
		}

		&.active .nav-link {
			color: $nav-link-active-color-dark;
			background: $nav-link-active-bg-dark;
			box-shadow: 0 .125rem .25rem rgba($white, .075);
		}

	}
	
	.dropdown-menu {
		background: $dropdown-bg-dark;
		border: var(--bs-dropdown-border-width) solid $border-color-dark;
			
		.dropdown-item {
			color: $dropdown-link-color-dark;
		}

		.dropdown-divider {
			border-top: var(--bs-dropdown-border-width) solid $border-color-dark;
		}
	}
}

.nav-pills {
	.nav-link {
		-webkit-backdrop-filter: $nav-link-glass-backdrop-filter-dark;
		backdrop-filter: $nav-link-glass-backdrop-filter-dark;
		border: $nav-link-button-border-dark;

		&:active, &:hover, &.active {
			border: $nav-link-button-hover-border-dark;
			background: $nav-link-button-bg-hover-dark;
		}
	}
}



// CONTENT
aside {
	& > div {
		background: $main-bg-dark;
	}
}

article {
	background: $main-bg-dark;

	&.grab {
		background: $grab-background-dark;
	}

	.timeline {
		.timeline-label {
			color: $timeline-label-color-dark;
		}
	}
}

table {
	border: $table-outer-border-dark;
	
	thead {
		border-bottom: $table-thead-border-dark;
	}
	
	tr.border-top {
		border-top: $table-line-border-dark !important;
	}
}

.conference-list {
	.conference-year {
		background: $main-bg-dark;
	}

	.conference-expanded {
		background: $conference-expanded-bg-dark;
	}
}

.sc-list {
	.sc-person {
		& > div {
			background: $sc-person-bg-dark;

     	&:hover {
        	background: $sc-person-bg-hover-dark;
		}
	}

	}
}



.workshop-year {
	opacity: $ws-year-o-dark;
}



// FOOTER
footer {
	background: $footer-bg-dark;
}

