
$transition-duration: .5s;
$transition-function: ease;

html, body {
  background: #222;
}

a, a:active, a:visited, a:hover {
  color: white;
  text-decoration: none;

  i {
    @include auto-transition(margin);
    margin-right: 0.5rem;
  }

  &:hover i {
    margin-left: 0.5rem;
    margin-right: 0;
  }

  img {
    @include auto-transition((box-shadow));
    max-width: 180px;
    border: 2px solid white;
    box-shadow: 0 .125rem .25rem rgba($white, .075);
  } 

  &:hover img {
    box-shadow: 0 1rem 3rem rgba($white, .175);
  }
} 

#community {
  background: transparent;
  border-bottom: 1px solid #333;      
}

#conference {
  background: transparent;
}

@include media-breakpoint-up(md) {
  #community {
    border-bottom: 0;
    border-right: 1px solid #333;
  }

  .h-md-100 {
    height: 100% !important
  }
}