// GLOBAL

a, a:active, a:visited, a:hover {
	color: $link-color-dark;
}

.text-muted {
	color: $text-muted-dark !important;
}

.text-black {
  color: white !important;
}


// LAYOUT
html, body {
	background: $body-bg-dark;
}

body>div {
	background: $body-bg-dark;
	background: $body-bg-gradient-dark;
	background-attachment: fixed;
	color: $body-color-dark;
}

body > div > div {
	background: $content-bg-dark;
	padding: $content-border-width;
}



// HEADER
header {
	img {
	}
}



// NAVIGATION
nav {
	background: $nav-bg-dark;
	margin-top: $content-border-width;
	margin-bottom: $content-border-width;
	
	.nav-link {
		color: $nav-link-color-dark;

		&.active {
			color: $nav-link-active-color-dark !important;
		}
	}

	.navbar-toggler {
		color: $navbar-toggler-color-dark;
		border: var(--bs-border-width) solid $navbar-toggler-border-color-dark !important;
		
		&:hover {
			background: $navbar-toggler-border-color-dark;
		}
		
		.navbar-toggler-icon {
			background-image: $navbar-dark-toggler-icon-bg;
		}
	}
	
	.dropdown-menu {
		background: $dropdown-bg-dark;
		border: var(--bs-dropdown-border-width) solid $border-color-dark;
			
		.dropdown-item {
			color: $dropdown-link-color-dark;
		}

		.dropdown-divider {
			border-top: var(--bs-dropdown-border-width) solid $border-color-dark;
		}
	}
}



// CONTENT
aside {
	border-top: var(--bs-border-width) var(--bs-border-style) $border-color-dark;
	
	.border-bottom {
		border-bottom: var(--bs-border-width) var(--bs-border-style) $border-color-dark !important;
	}
}

main {
	background: $main-bg-dark;

	.timeline {
		.timeline-label {
			color: $timeline-label-color-dark;
		}
	}
	
	table {
		border: $table-outer-border-dark;
		
		thead {
			border-bottom: $table-thead-border-dark;
		}
		
		tr.border-top {
			border-top: $table-line-border-dark !important;
		}
	}
}



// FOOTER
footer {
	background: $footer-bg-dark;
}



@include media-breakpoint-up(md) {
	aside {
		border-top: 0;
		border-right: var(--bs-border-width) var(--bs-border-style) $border-color-dark;
	}
}