
// GLOBAL
a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

.d-dark-none {
	display: none !important;
}

.d-light-none {
	display: block !important;
}

.nav-link {
  color: $nav-link-color;
  
  &.active, &:hover {
    color: $nav-link-hover-color;
  }
}

code, pre {
  color: $code-color;
}

.border {
  border: 1px solid $border-color !important;
}

.border-end {
  border-right: 1px solid $border-color !important;
}

.offcanvas .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%)
}

.list-group-item {
  background: $list-group-bg;
  border: 0 !important;
  color: $body-fg;
  
  &:active {
    background: $list-group-active-bg;
    color: $body-fg;
  }

  &:hover {
    background: $list-group-hover-bg;
    color: $body-fg;
  }
}