// GLOBAL
a[href^="https://doi.org"], a[href^="https://cronfa.swan.ac.uk"] {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
}

h1, h2 {
	font-weight: bold;
}

p:last-child, ol:last-child, ul:last-child {
    margin-bottom: 0;
}

.last-md-0 {
	& *:last-child {
		margin-bottom: 0 !important;
	}
}



// LAYOUT
body {
	background: $body-bg-gradient;
	background-attachment: fixed;
	background-position: top;
}

body > div {
	background: $content-bg;
	border: $content-border;
	-webkit-backdrop-filter: $glass-backdrop-filter;
	backdrop-filter: $glass-backdrop-filter;
	max-width: $content-max-width !important;
}



// HEADER
header {
	img {
		border: $header-logo-border;
		height: $header-logo-height;
		width: $header-logo-width;
	}
}



// NAVIGATION
nav {
	background: $nav-bg;
	-webkit-backdrop-filter: $glass-backdrop-filter;
	backdrop-filter: $glass-backdrop-filter;
	border-bottom: $content-border;
	border-top: $content-border;
	position: relative;
	@include auto-transition(background, box-shadow);
	z-index: 1000;
	
	a.nav-link {	
		border: $nav-link-border-width solid transparent;

		&.active {
			border: $nav-link-border-width solid $nav-link-border-color-active;
		}
	
		&:hover, &[aria-expanded="true"] {
			background: $navbar-light-hover-bg;
			color: $navbar-light-expanded-color !important;
		}
	}
	
	
	.dropdown-menu {
		-webkit-backdrop-filter: $glass-backdrop-filter;
		backdrop-filter: $glass-backdrop-filter;
	}
}



// CONTENT
aside {
	border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
	
	picture, img {
		max-width: $sidebar-image-width;
	}
}

main {
	background: $main-bg;
	-webkit-backdrop-filter: $glass-backdrop-filter;
	backdrop-filter: $glass-backdrop-filter;
	border-bottom: $content-border;

	.profile-photo {
		max-width: $profile-photo-width;
	}

	.timeline {
		border-right: $timeline-border-end;

		& > li {
			padding-left: 1rem;
		}

		.timeline-notch {
			background: $timeline-color;
			height: $timeline-width;
			width: $timeline-notch-width;
		}

		.timeline-label {
			color: $timeline-label-color;
			margin-top: .6rem - $timeline-width;
		}
	}
}



// FOOTER
footer {
	background: $footer-bg;
	-webkit-backdrop-filter: $glass-backdrop-filter;
	backdrop-filter: $glass-backdrop-filter;
}



@include media-breakpoint-up(md) {
	aside {
		border-top: 0;
		border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
	}
}