// GLOBAL

a, a:active, a:visited, a:hover {
	color: $link-color-dark;
}

.text-muted {
	color: $text-muted-dark !important;
}

.text-black {
  color: white !important;
}


// LAYOUT
html, body {
	background: $body-bg-dark;
}

body>div {
	background: $body-bg-dark;
	background: $body-bg-gradient-dark;
	background-attachment: fixed;
	color: $body-color-dark;
}

body > div > div {
	background: $content-bg-dark;
	padding: $content-border-width;
}



// HEADER
header {
	img {
	}
}



// NAVIGATION
nav.navbar {
	background: $nav-bg-dark;
	margin-top: $content-border-width;
	margin-bottom: $content-border-width;
	
	.nav-link {
		color: $nav-link-color-dark;

		&.active {
			color: $nav-link-active-color-dark !important;
		}
	}

	.navbar-toggler {
		color: $navbar-toggler-color-dark;
		border: var(--bs-border-width) solid $navbar-toggler-border-color-dark !important;
		
		&:hover, &[aria-expanded="true"] {
			background: $navbar-toggler-border-color-dark;
		}

        &[aria-expanded="false"] {
            background: transparent;
        }
		
		.navbar-toggler-icon {
			background-image: $navbar-dark-toggler-icon-bg;
		}
	}
	
	.dropdown-menu {
		background: $dropdown-bg-dark;
		border: var(--bs-dropdown-border-width) solid $border-color-dark;
			
		.dropdown-item {
			color: $dropdown-link-color-dark;
		}

		.dropdown-divider {
			border-top: var(--bs-dropdown-border-width) solid $border-color-dark;
		}
	}
}

.nav-pills {
	.nav-link {
		@include auto-transition((color, background));

		&:hover, &.active {
			color: $nav-link-button-fg-dark;
			background: $nav-link-button-bg-hover-dark;
		}
	}
}



// CONTENT
aside {
	& > div {
		background: $main-bg-dark;
	}
}

article {
	background: $main-bg-dark;

	.timeline {
		.timeline-label {
			color: $timeline-label-color-dark;
		}
	}
}

table {
	border: $table-outer-border-dark;
	
	thead {
		border-bottom: $table-thead-border-dark;
	}
	
	tr.border-top {
		border-top: $table-line-border-dark !important;
	}
}

.conference-list {
	.conference-year {
		background: $main-bg-dark;
	}

	.conference-expanded {
		background: $conference-expanded-bg-dark;
	}
}



// FOOTER
footer {
	background: $footer-bg-dark;
}

