// GLOBAL
$primary-dark: #D36975;

$link-color-dark: $primary-dark;

$border-color-dark: rgba(95,95,95,.8);

$text-muted-dark: rgba(283,283,283,.8);



// LAYOUT
$body-bg-dark: #222;
$body-bg-gradient-dark:
                   linear-gradient(-135deg,
                   darken(rgba($body-bg-dark,1), 20%) 0px,
                   darken(rgba($body-bg-dark,1), 20%) 200px,
                   rgba(81,112,78,1) 200px,
                   rgba(81,112,78,1) 300px,
                   rgba(203,106,115,1) 300px,
                   rgba(203,106,115,1) 400px,
                   rgba(182,81,145,1) 400px,
                   rgba(182,81,145,1) 500px,
                   rgba(81,105,182,1) 500px,
                   rgba(81,105,182,1) 600px,
                   rgba(255,117,11,1) 600px,
                   rgba(255,117,11,1) 700px,
                   rgba(0,161,222,1) 700px,
                   rgba(0,161,222,1) 800px,
                   rgba(255,0,0,1) 800px,
                   rgba(255,0,0,1) 900px,
                   darken(rgba($body-bg-dark,1), 20%) 900px);

$body-color-dark: #fff;

$content-bg-dark: rgba($body-bg-dark,.7);
$outer-content-border-dark: 3px solid rgba(283,283,283, 0.1);
$content-border-dark: 3px solid $border-color-dark;



// HEADER



// NAVIGATION
$nav-bg-dark: rgba($body-bg-dark,.85);

$nav-link-active-bg-dark: rgba(darken($body-bg-dark, 90%), 0.75);
$nav-link-bg-dark: rgba(darken($body-bg-dark, 90%), 0.25);
$nav-link-color-dark: #fff;
$nav-link-active-color-dark: #fff;
$nav-link-glass-backdrop-filter-dark: saturate(180%) blur(20px) brightness(95%);

$navbar-toggler-color-dark: rgba($body-color-dark, 0.7);
$navbar-toggler-border-color-dark: $border-color-dark; 

$dropdown-bg-dark: rgba($body-bg-dark, 0.8);
$dropdown-link-color-dark: #fff;



// CONTENT
$main-bg-dark: $nav-bg-dark;
$grab-background-dark: rgba($body-bg-dark, 1);

$timeline-label-color-dark: #ccc;

$table-outer-border-dark: var(--bs-border-width) var(--bs-border-style) $border-color-dark;
$table-thead-border-dark: $content-border-dark;
$table-line-border-dark: $table-outer-border-dark;

$conference-expanded-bg-dark: rgba(darken($body-bg-dark, 20%), .15);

$nav-link-button-fg-dark: $primary;
$nav-link-button-border-dark: 1px solid rgba(lighten($body-bg-dark, 20%), 0.3);
$nav-link-button-hover-border-dark: 1px solid rgba(lighten($body-bg-dark, 20%), 0.3);
$nav-link-button-bg-hover-dark: rgba(darken($body-bg-dark, 20%), 0.2);


$sc-person-bg-dark: rgba(#333, 0.4);

$ws-year-o-dark: 0.15;


// FOOTER
$footer-bg-dark: $nav-bg-dark;
