// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss


// OVERRIDES
$enable-shadows              : true;
$enable-responsive-font-size : true;

$link-decoration             : none;
$link-shade-percentage       : 0%;
$link-hover-decoration       : underline;


// GLOBAL
$transition-duration         : .3s;
$transition-function         : ease;


// HEADER
$title-mw                    : 1060px;
$title-h                     : 100px;
$stripe-h                    : .75rem; 


// COMMITTEE MEMBERS
$organiser-image-w           : (
  xs                         : 100px,
  sm                         : 100px,
  md                         : 200px,
  lg                         : 200px,
  xl                         : 200px
);

// WORKSHOPS
$bg-always-white             : #ffffff;
$bg-always-light             : #f8f9fa;
$bg-always-dark              : #202124;

