// GLOBAL
$primary: #C73D4D;

$font-family-sans-serif: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$h1-font-size: 1.7rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.3rem;
$h4-font-size: 1.1rem;
$h4-font-weight: bold;
$h5-font-size: 1rem;

$transition-duration: .5s;
$transition-function: ease;

$glass-backdrop-filter: saturate(180%) blur(20px);

$border-color: rgba(55,55,55, 0.2);



// LAYOUT
$body-bg: rgb(238,238,238);
$body-bg-gradient: linear-gradient(-135deg,
                    darken(rgba($body-bg,1), 20%) 0%,
                   darken(rgba($body-bg,1), 20%) 10%,
                   rgba(81,112,78,1) 10%,
                   rgba(81,112,78,1) 20%,
                   rgba(203,106,115,1) 20%,
                   rgba(203,106,115,1) 30%,
                   rgba(182,81,145,1) 30%,
                   rgba(182,81,145,1) 40%,
                   rgba(81,105,182,1) 40%,
                   rgba(81,105,182,1) 50%,
                   rgba(255,117,11,1) 50%,
                   rgba(255,117,11,1) 60%,
                   rgba(0,161,222,1) 60%,
                   rgba(0,161,222,1) 70%,
                   rgba(255,0,0,1) 70%,
                   rgba(255,0,0,1) 80%,
                   darken(rgba($body-bg,1), 20%) 80%);

$content-bg: rgba($body-bg,.7);
$content-border-size: 3px;
$outer-content-border: $content-border-size solid rgba(55,55,55, 0.1);
$content-border: $content-border-size solid $border-color;



// HEADER
$header-logo-height: 100px;



// NAVIGATION
$nav-bg: rgba($body-bg,.75);

$nav-link-bg: rgba(lighten($body-bg, 2%), 0.95);
$nav-link-border-width: 1px;
$nav-link-color: #000;
$nav-link-active-color: #000;
$nav-link-glass-backdrop-filter: saturate(180%) blur(20px) brightness(95%);

$navbar-light-hover-bg: $primary;
$navbar-light-hover-color: #000;
$navbar-light-expanded-color: $navbar-light-hover-color;

$dropdown-min-width: 100%;
$dropdown-bg: rgba($body-bg, 1);
$dropdown-link-hover-bg: rgba($primary, 0.9);
$dropdown-link-hover-color: #fff;

$content-border-width: 3px;


// CONTENT
$sidebar-image-width: 200px;

$main-bg: $nav-bg;

$profile-photo-width: 100px;

$timeline-color: #777;
$timeline-notch-width: 1rem;
$timeline-width: .25rem;
$timeline-border-end: $timeline-width solid $timeline-color;
$timeline-label-color: #111;

$table-outer-border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
$table-thead-border: $content-border;

$awards-image-width: 50px;

$conference-chevron-color: darken($body-bg, 40%);
$conference-chevron-o: 50%;
$conference-chevron-font-size: 2.5rem;
$conference-chevron-translate-x: -0.15rem;
$conference-chevron-translate-y: -0.15em;
$conference-expanded-bg: rgba(darken($body-bg, 20%), .15);

$nav-link-button-fg: $primary;
$nav-link-button-border: 1px solid rgba(#ffffff, 0.4);
$nav-link-button-hover-border: 1px solid rgba(#ffffff, 0.4);
$nav-link-button-bg-hover: rgba(#ffffff, 0.4);

$sc-person-bg: rgba(#fff, 0.4);

$ws-year-size: 5rem;
$ws-year-mt: -2rem;
$ws-year-mr: -1rem;
$ws-year-o: 0.1;
$ws-ol-mt: -.25rem;


// FOOTER
$footer-bg: $nav-bg;
