---
---
{%- assign cache = site.time | date: '%s%N' -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}" class="h-100">
    <head>
		{%- include head.html -%}
	</head>
    <body class="p-xl-5 p-md-4 p-3">
    	<div class="container h-100 mx-auto p-0 d-flex flex-column rounded-2 shadow">
    		<header class="d-flex flex-row align-items-center justify-content-center p-lg-4 p-3">
    			<img src="{{ "/assets/img/logo.svg" | relative_url }}" alt="The text CUI against a pink background with abstract waves" title="ACM CUI logo" class="rounded-circle" />
				<h1 class="m-0 p-0 px-3 fw-normal">
					ACM Conversational User Interfaces
				</h1>
    		</header>
    		<nav class="navbar navbar-expand-md px-lg-4 p-3">
				{%- include nav.html -%}
    		</nav>
    		<main class="d-flex flex-md-row-reverse flex-column p-lg-4 p-3">
    			{{ content }}
    		</main>
    		<footer class="px-lg-4 p-3 small text-center text-muted">
				&copy; {{ site.time | date: "%Y" }} ACM conference on Conversational User Interfaces<br>
				<a href="https://www.acm.org/about-acm/privacy-policy" title="Association for Computing Machinery Privacy Policy" class="text-muted">ACM Privacy Policy</a>
    		</footer>
    	</div>
		<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}?{{ cache }}"></script>
    </body>
</html>