<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="d-flex flex-column">

    {%- include header.html -%}

    <main class="page-content py-5 flex-grow-1">

      <div class="container">

        <div class="row">
  
          {%- unless page.hide_nav -%}

          <div class="d-md-block d-none col-lg-3 col-md-4 pt-md-0 pt-3 pe-lg-5 pe-md-3 border-end sidebar" aria-hidden="true">

            {%- include nav.html -%}

			<div class="acm w-100 mt-3">

			<a href="https://www.acm.org" title="CUI is an Association for Computing Machinery conference">
				<img src="{{ "assets/img/acm/logo-acm.png" | relative_url }}" alt="ACM logo" title="Association of Computing Machinery" class="d-dark-none">
				<img src="{{ "assets/img/acm/logo-acm-dk.png" | relative_url }}" alt="ACM logo" title="Association of Computing Machinery" class="d-dark-block d-light-none">
			</a>

			<a href="https://www.sigchi.org" title="CUI is an ACM Special Interest Group on Human-Computer Interaction specialised conference">
				<img src="{{ "assets/img/acm/logo-sigchi.png" | relative_url }}" alt="SIGCHI logo" title="SIGCHI" class="d-dark-none mt-3">
				<img src="{{ "assets/img/acm/logo-sigchi-dk.png" | relative_url }}" alt="SIGCHI logo" title="SIGCHI" class="d-dark-block d-light-none mt-3">
			</a>
			
			</div>

          </div>
  
          <section class="col-lg-9 col-md-8 ps-lg-5 ps-md-3" aria-label="Content">

          {%- else -%}
  
          <section class="col-12" aria-label="Content">
          
          {%- endunless -%}
  
            {{ content }}

          </section>

        </div>

      </div>

    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>

  </body>

</html>
